<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mortality in Mexico</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/styles.css" media="screen">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mortality in Mexico</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Home
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Machine Learning
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="mlearning.html">Formal results</a>
                    <a class="dropdown-item" href="graphs.html">Visualizations</a>
                    <a class="dropdown-item" href="interactive.html">Interactive</a>
                  </div>
                </li>
      </div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dashboards
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="deathmap.html">Geo distribution of deaths</a>
                    <a class="dropdown-item" href="gender.html">Deaths by gender</a>
                    <a class="dropdown-item" href="total.html">Total of deaths</a>
                    <a class="dropdown-item" href="insurance.html">Insurance comparison</a>
                  </div>
                </li>
      </div>
    </div>
  </nav>

    <div class="container">
      <h1>Overview</h1><br>
      <img src="../Resources/images/mexico.PNG" alt="mexico" height="480" width="580" style ="float:inline-start;align-self: center;" >
      
        <p>The importance of knowing the causes of mortality in a country is because they help us to analyze and design better programs, implement improvements and evaluate the health system.
            There is evidence that thanks to these statistical analyses, mortality in children under 5 years of age decreased drastically thanks to the development of programs in the country (Mexico) such as “Seguro Popular” (low-cost health insurance for people that has no access to other social security schemas). (Trends in avoidable mortality over the life course in Mexico, 1990-2015: a cross-sectional demographic analysis; Aburto, Riffe, Canudas-Romo)
            Since 2019, COVID-19 became a major threat in Mexico. With this in mind, one of the goals of this project is to publicize the impact it had on the Mexican population.
        </p>
      </br>
       
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>